.loading {
  #listing {
    display: none;
  }
  .loader {
    display: block;
  }
}
.filters {
  background: #f3f3f3;
  padding: 5px;
  font-size: 13px;
  border-bottom: 1px solid rgb(205, 205, 205);
  span {
    display: inline-block;
  }
  .requests-select {
    float: right;
    margin-top: 1px;
  }
  .text-filter {
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    border: 1px solid #999;
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    &:focus {
      outline: none;
    }
  }
  .filters-list {
    display: inline-block;
  }
  .title {
    margin-right: 10px;
  }
  .filter {
    margin-right: 5px;
    border-radius: 10px;
    padding: 4px 8px;
    cursor: default;
    &:hover {
      background: #dedede;
    }
    &.active {
      color: #fff;
      background: #999;
    }
  }
}
.listing-table {
  height: calc(100vh - 30px);
  position: relative;
  padding-top: 25px;
  margin-right: 14px;
  .scroll-holder {
    height: 100%;
    overflow: scroll;
    width: calc(100% + 14px);
  }
}
.viwer-list {
  width: 100%;
  text-align: left;
  th {
    border: none;
    font-weight: normal;
    height: 0;
    line-height: 0;
    font-size: 0;
    padding: 0;
    &.sort-asc span:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 4px 0 4px;
      border-color: #666 transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -5px;
    }
    &.sort-desc span:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 8px 4px;
      border-color: transparent transparent #666 transparent;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -5px;
    }
    span {
      user-select: none;
      cursor: pointer;
      position: absolute;
      padding: 5px 4px;
      top: 0;
      font-size: 11px;
      line-height: 14px;
      width: 12.5%;
      border-bottom: 1px solid rgb(205, 205, 205);
      border-left: 1px solid rgb(205, 205, 205);
    }
    width: 12.5%;
    &.path {
      width: 50%;
      span {
        width: 50%;
      }
    }
  }
  td {
    border-left: 1px solid #e1e1e1;
    padding: 5px 4px;
  }
  tr {
    &.odd {
      background: #f5f5f5;
    }
    td:first-child {
      border-left: none;
    }
    &.active {
      .info-cell span {
        background: rgba(0, 65, 148, 0.2);
      }
    }
  }
  a {
    color: #262B2F;
  }
  .timeline-cell {
    position: relative;
    height: 10px;
    .time {
      position: absolute;
      height: 100%;
      background: #03A9F4;
    }
  }
  .info-cell {
    padding: 0;
    span {
      display: block;
      cursor: pointer;
      padding: 5px 4px;
      &:hover {
        background: rgba(0, 65, 148, 0.2);
      }
    }
  }
}
.info-box-view {
  .listing-table {
    width: calc(50% - 14px);
  }
  th {
    display: none;
  }
  td {
    display: none;
  }
  th.info {
    display: table-cell;
    width: 100% !important;
    span {
      width: 100% !important;
    }
  }
  .info-cell {
    display: table-cell;
  }
}